
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: gray;
}

/* Style the header */
.header {
  background-color: Gray;
  padding: 20px;

}
article p, h1, h2{
    margin-left: 180px;
  margin-right: 180px;
  /* font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif; */

}
li, ul {
  margin-left: 140px;
  margin-right: 140px;
}
h1, h2{
  text-decoration: underline;
}
hr{
  width: 75%;
  color: #C30202;
}
h1{
  color: Black;

  margin-right: 280px;
  margin-left: 280px;
}
ul{
  color: Black;
  font-size: 21px;
}
h2{

  color: Black;
}
p{
  font-size: 21px;
  color: Black;
  text-indent: 50px;
}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color:  #C30202;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: Black;

  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: Gray;
  color: Black;
}
img{
  width: 20%;
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.head-shot{
  float: right;
  border: 1px solid #C30202;
  border-width: 20px;
  height: 18%;
  width: 15%;
  /* margin-left: 20px; */
  margin-right: 80px;
}
.headshot-hr{
  width: 60%;
  margin-right: 90px;
}
.topnav{
  margin-left: 175px;
  margin-right: 175px;
}
iframe{
  display: block;
margin-left: auto;
margin-right: auto;
}
footer {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-align: center;
	font-size: 1em;
	border-top: 2px solid #C30202;
	padding-top: 10px;
	padding-bottom: 20px;
}
