
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #000080;
}

/* Style the header */
.header {
  background-color: #000080;
  padding: 20px;

}
h1{
  color:  #FF3333;

  margin-right: 280px;
  margin-left: 280px;
}
ul{
  color:  #FF3333;
  font-size: 21px;
}
h2{

  color:  #FF3333;
}
p{
  font-size: 21px;
  color:  #FF3333;

}
/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color:	#FF3333;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #000080;

  padding: 14px 16px;
  text-decoration: none;
}
/* navingation bar */
/* Change color on hover */
.topnav a:hover {
  background-color: #000080;
  color: #FF3333;
}
h1, h2{
  text-decoration: underline;
}
article p, h1, h2{
    margin-left: 180px;
  margin-right: 180px;
}
.topnav{
  margin-left: 175px;
  margin-right: 175px;
}
.Indians{
  width: 20%;
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img{
  width: 20%;
  height: 25%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.l{
text-align: center;
}
ul{
  text-align: center;
}
table, th, td{
  border: 10px solid #000080;
  text-align: center;
}
table{
  width: 50%;
  background-color: #FF3333;
  margin-left: auto;
  margin-right: auto;
}
/* writing a sentence */
th{
  height: 50px;
}
th{
  background-color: #FF3333;
  color: #000080;
}
td {
  border-right: solid 2px black;
  border-left: solid 2px black;
}
tr:hover {background-color: #000080}
tr:hover {color: #FF3333}
.Indians-hr{
  color: #FF3333;
  border-style:solid;
  width: 80%;
  margin-right: 200px;
}
.S{
    width: 50%;
    background-color: #FF3333;
    margin-left: auto;
    margin-right: auto;
  }
  .S{
    th:hover {background-color: #000080}
    th:hover {color: #FF3333}
}
footer {
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	text-align: center;
	font-size: 1em;
	border-top: 2px solid #FF3333;
	padding-top: 10px;
	padding-bottom: 20px;
}
cite{
  color: #FF3333;
}
.c{
    color: #FF3333;
}
